{% load tree_menu_tags %}

{% draw_menu 'main_menu' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/tree-view-menu.css' %}">

<ul class="tree">
  {% for item in menu_items %}
    {% if item.parent %}
      {% if item.parent.id == parent_id %}
        <li>
            <details>
                <summary>
                    <a href="{{ item.url }}" style="color: #265301">{{ item.name }}</a>
                </summary>
                {% include 'tree_menu_app/tree_menu.html' with parent_id=item.id %}
            </details>
        </li>
      {% endif %}
    {% else %}
      {% if not parent_id %}
        <li>
            <details>
                <summary>
                    <a href="{{ item.url }}" style="color: #000000" class="fw-bold">{{ item.name }}</a>
                </summary>
                {% include 'tree_menu_app/tree_menu.html' with parent_id=item.id %}
            </details>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
